// Responsive: Columns when wide enough, else Scroll
.container.order_dashboard(ng-controller="OrderDashboardCtrl")
  .row

    // List of Orders
    .col-lg-4.col-sm-12
      h1 Orders
        a.btn.create(ng-click="create()",ng-class="{current: current_order._id === null}")
          i.fa.fa-plus
      ul.list_of_orders(ng-show="list_of_orders")
        li(ng-repeat="order in list_of_orders",ng-click="show(order._id)",ng-class="{current: current_order._id === order._id}")
          .name(ng-bind="order.name")
      .loading(ng-hide="list_of_orders")
        progressbar.progress-striped.active(value="100",type="success")

    // Show One Order
    .col-lg-8.col-sm-12
      .current_order(ng-show="current_order")
        h1
          span(ng-show="current_order.purchase_number") Order #
            span(ng-bind="current_order.purchase_number")
          span(ng-hide="current_order.purchase_number") New Order
        h3 Purchase Number
        .name(ng-bind="current_order.purchase_number")
        h3 Name
        .name(ng-bind="current_order.name")
        h3 Info
        .info(ng-bind="current_order.info")
        h3 Amount
        .amount(ng-bind="current_order.amount")
      .loading(ng-hide="current_order")
        h1 Loading..
        progressbar.progress-striped.active(value="100",type="success")
