header#banner.hero-unit
  .container
    h1 $http Model-as-a-Service in AngularJS
    p.lead Simple AngularJS "Thing Dashboard" client is a View-Machine that consumes a pure JSON REST API.
    p @author
      span &nbsp;
      a(href="http://www.nickkaye.com",target="_blank") Nick Kaye
