header#banner.hero-unit
  .container
    h1 $http Model-as-a-Service in AngularJS
    p.lead Simple AngularJS Example Project to demo the philosophy behind contemporary front-end construction, specifically separating out concerns of a "model", relying for our data models entirely on a JSON API.
    p @author
      span &nbsp;
      a(href="http://www.nickkaye.com",target="_blank") Nick Kaye
