footer.footer
  .container
    p
      a(href='https://github.com/daftmonk/generator-angular-fullstack',target='_blank') Yeoman Angular Fullstack
      span &nbsp;|&nbsp;
      a(href='https://github.com/nickckaye/http-model-as-a-service',target='_blank') $http Model-as-a-Service
