@import '../../global';
@import '../../mixin';

.thing_list {
  h1 {
    .btn {
      float: right;
    }
  }
  .current_state {
    .dashboard_current_state;
    &.refreshing {
      background-color: @warning;
    }
    &.errored {
      background-color: @danger;
    }
    &.displayed {
      background-color: @success;
    }
    &.selected {
      background-color: @success;
    }
  }
}
