.thing_editor(ng-controller="ThingEditorCtrl")

  h1
    span(ng-switch="machine.state")
      span(ng-switch-when="offline")
      span(ng-switch-when="loading")
        | Loading..
      span(ng-switch-when="edit_new")
        | New Thing
      span(ng-switch-when="edit_existing")
        | Edit Thing #
        span {{ current_thing.unique_number }}
      span(ng-switch-when="saving")
        | Saving #
        span {{ current_thing.unique_number }}
        | ..
      span(ng-switch-when="creating")
        | Creating..
      span(ng-switch-when="destroying")
        | Destroying #
        span {{ current_thing.unique_number }}
        | ..
      span(ng-switch-when="error")
        | Error
    .current_state(ng-bind="machine.state",ng-class="machine.state")

  // Form is made with Bootstrap
  form(name='thing_form',role='form',ng-show="is_form()")

    .form-group(ng-class="{ 'has-error': thing_form.name.$invalid && thing_form.name.$dirty, 'has-success': thing_form.name.$valid && thing_form.amount.$dirty}",show-errors)
      label(for='thing_name') Name
      input#thing_name.form-control(type='text', name='name', placeholder='Enter the thing name',ng-model="current_thing.name",required)
      p.help-block(ng-if="thing_form.name.$error.required") Name is required.

    .form-group(ng-class="{ 'has-error': thing_form.info.$invalid && thing_form.info.$dirty, 'has-success': thing_form.info.$valid && thing_form.amount.$dirty}",show-errors)
      label(for='thing_info') Info
      textarea#thing_info.form-control(type='text', name='info', placeholder='Enter the thing info',ng-model="current_thing.info",required)
      p.help-block(ng-if="thing_form.info.$error.required") Information is required.

    .form-group(ng-class="{ 'has-error': thing_form.amount.$invalid && thing_form.amount.$dirty, 'has-success': thing_form.amount.$valid && thing_form.amount.$dirty }",show-errors)
      label(for='thing_amount') Amount
      input#thing_amount.form-control(type='number', name='amount', placeholder='Enter the thing amount',ng-model="current_thing.amount",required)
      p.help-block(ng-if="thing_form.amount.$error.required") Amount is required.
      p.help-block(ng-if="thing_form.amount.$error.number") Amount must be a number.
      p.help-block(ng-if="thing_form.amount.$error.integer") Amount must be an integer.

    hr

    .form-group.choices
      button.btn.left.btn-success(ng-click='save()')
        span(ng-show='is_new()') Create
        span(ng-show='is_existing()') Update
      button.btn.left.btn-default(ng-click='cancel()')
        span(ng-show='is_new()') Cancel
        span(ng-show='is_existing()') Close
      button.btn.right.btn-danger(ng-click='destroy()',ng-show='is_existing()') Delete

  // else loading Thing
  .loading(ng-show="is_loading()")
    progressbar.progress-striped.active(value="100",type="success")
