.thing_editor(ng-controller="ThingEditorCtrl")

  h1
    span(ng-switch="machine.state")
      span(ng-switch-when="offline")
        | Hiya
      span(ng-switch-when="new")
        | Create Thing
      span(ng-switch-when="loading")
        | Loading..
      span(ng-switch-when="displayed")
        | Thing #
        span {{ current_thing.purchase_number }}
      span(ng-switch-when="saving")
        | Saving #
        span {{ current_thing.purchase_number }}
        | ..
      span(ng-switch-when="creating")
        | Creating..
      span(ng-switch-when="error")
        | Error
    .current_state(ng-bind="machine.state",ng-class="machine.state")

  // Form is made with Bootstrap
  form(role='form',ng-show="is_form()")

    .form-group
      label(for='thingName') Name
      input#thingName.form-control(type='text', placeholder='Enter the thing name',ng-model="current_thing.name",required)

    .form-group
      label(for='thingInfo') Info
      textarea#thingInfo.form-control(type='text', placeholder='Enter the thing info',ng-model="current_thing.info",required)

    .form-group
      label(for='thingAmount') Amount
      input#thingAmount.form-control(type='number', placeholder='Enter the thing amount',ng-model="current_thing.amount",required)

    hr

    .form-group.choices
      button.btn.left.btn-success(ng-click='save()')
        span(ng-show='is_new()') Create
        span(ng-show='is_existing()') Update
      button.btn.left.btn-default(ng-click='cancel()')
        span(ng-show='is_new()') Cancel
        span(ng-show='is_existing()') Close
      button.btn.right.btn-danger(ng-click='destroy()',ng-show='is_existing()') Delete

  // else loading Thing
  .loading(ng-show="is_loading()")
    progressbar.progress-striped.active(value="100",type="success")
