div(ng-include='"components/header/header.html"')

div(ng-include='"components/github/ribbon.html"')

div(ng-include='"components/dashboard/dashboard.html"')

div(ng-include='"components/footer/footer.html"')
