div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 $http Model-as-a-Service in AngularJS
    p.lead Simple AngularJS Example Project to demo the philosophy behind contemporary front-end construction, specifically separating out concerns of a "model" entirely, relying for our data models entirely on a JSON API.

.container
  .row
    .col-lg-4
      h1 Orders
      // TODO "List of Orders" retrieves records via Service; updates U.I. #6
    .col-lg-8
      h1 Edit Order #X
      // "Update an Order" validates, updates record via Service; updates U.I. #7

footer.footer
  .container
    p
      a(href='https://github.com/daftmonk/generator-angular-fullstack',target='_blank') Yeoman Angular Fullstack
      = ' | '
      a(href='https://github.com/nickckaye/http-model-as-a-service',target='_blank') $http Model-as-a-Service
