.order_editor(ng-controller="OrderEditorCtrl")

  h1
    div(ng-switch="machine.state")
      div(ng-switch-when="offline")
        | Off
      div(ng-switch-when="create")
        | Create Order
      div(ng-switch-when="loading")
        | Loading..
      div(ng-switch-when="show")
        | Order #
        span(ng-bind="current_order.purchase_number")
      div(ng-switch-when="saving")
        | Saving #
        span(ng-bind="current_order.purchase_number")
        | ..
      div(ng-switch-when="creating")
        | Creating..
      div(ng-switch-when="error")
        | Error!
    .current_state(ng-bind="machine.state",ng-class="machine.state")

  // Proper Bootstrap 3+ <form> herein
  form(role='form')

    .form-group
      label(for='orderName') Name
      input#orderName.form-control(type='text', placeholder='Enter the order name',ng-model="current_order.name",required)

    .form-group
      label(for='orderInfo') Info
      textarea#orderInfo.form-control(type='text', placeholder='Enter the order info',ng-model="current_order.info",required)

    .form-group
      label(for='orderAmount') Amount
      input#orderAmount.form-control(type='number', placeholder='Enter the order amount',ng-model="current_order.amount",required)

    hr

    .form-group.choices
      button.btn.left.btn-success(ng-click='save()') Save
      button.btn.left.btn-default(ng-click='create()') Cancel
      button.btn.right.btn-danger Delete

  // else loading Order
  .loading(ng-show="machine.state==='loading'")
    progressbar.progress-striped.active(value="100",type="success")
