.order_list(ng-controller="OrderListCtrl")

  h1
    | Orders
    .current_state(ng-bind="machine.state",ng-class="machine.state")
    a.btn.create(ng-click="create()",ng-class="{current: current_order._id === null}")
      i.fa.fa-plus
    a.btn.create(ng-click="refresh()")
      i.fa.fa-refresh

  ul.list_of_orders(ng-show="list_of_orders")
    li(ng-repeat="order in list_of_orders",ng-click="select(order._id)",ng-class="{current: selected_id === order._id}")
      .name(ng-bind="order.name")

  // else loading List
  .loading(ng-hide="list_of_orders")
    progressbar.progress-striped.active(value="100",type="success")
