// Core
@white: #ffffff;
@black: #000000;
@pop-color: #0020f0;

@normal-bg-color: darken(@white, 6);
@normal-text-color: lighten(@black, 12);
@invert-bg-color: lighten(@pop-color, 20);
@invert-text-color: darken(@white, 3);
@invert-text-shadow-color: darken(@pop-color, 20);

// Orders
@order-bg-color: darken(@normal-bg-color, 10);
@order-border-top-color: darken(@order-bg-color, 20);
@order-border-right-color: lighten(@order-bg-color, 10);
@order-border-bottom-color: lighten(@order-bg-color, 20);
@order-border-left-color: darken(@order-bg-color, 10);
