@import 'global';

.dashboard_current_state {
  display:inline-block;
  vertical-align: top;
  margin-left:1em;
  margin-right:1em;
  font-size:0.2em;
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing:0.1em;
  padding:4px 6px;
  color:@white;
  &.offline {
    background-color:@state-offline-bg;
  }
}
