@import 'global';

.dashboard_current_state {
  display:inline-block;
  vertical-align: top;
  margin-left:0.62em;
  font-size:0.38em;
  padding:4px 6px;
  color:@white;
  &.offline {
    background-color:@state-offline-bg;
  }
}
